#leaderboard {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);

  max-width: 100%;
  border: solid 3px #B8FE4F;

  background-color: #69D949;
}

#leaderboard_title {
  display: flex;
  justify-content: center;

  padding: 5px 10px;
  margin-bottom: 10px;

  font-size: 36px;
  font-family: "Undertale-Battle-Font";
  text-transform: uppercase;
}

#leaderboard_results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: auto;
  height: auto;
}

#leaderboard_nicknames_title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10px;
  width: 150px;

  font-size: 28px;
  font-family: "Undertale-Battle-Font";
}

.nickname {
  margin-bottom: 5px;

  font-size: 18px;
}

#nicknames {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10px;
}

#leaderboard_scores_title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10px;
  width: 150px;

  font-size: 28px;
  font-family: "Undertale-Battle-Font";
}

.scores_class {
  margin-bottom: 5px;

  font-size: 18px;
}

#scores_id {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10px;
}

#leaderboard_button_exit {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
  border: none;
  width: 150px;
  height: 30px;

  background-color: #B8FE4F;
  cursor: pointer;

  font-size: 18px;
  font-family: "Undertale-Battle-Font";
}

/* Media quaries */

@media (min-height: 320px) and (max-height: 460px) {
  #leaderboard_title {
    font-size: 20px;
  }

  #leaderboard_nicknames_title {
    font-size: 18px;
  }

  #leaderboard_scores_title {
    font-size: 18px;
  }

  .nickname {
    font-size: 10px;
  }

  .scores_class {
    font-size: 10px;
  }

  #leaderboard_button_exit {
    margin-bottom: 5px;
    width: 100px;
    height: 20px;

    font-size: 15px;
  }
}

@media (min-height: 250px) and (max-height: 320px) {
  #leaderboard_title {
    margin-bottom: 0;
    padding: 0;

    font-size: 18px;
  }

  #leaderboard_nicknames_title {
    margin-bottom: 2px;

    font-size: 15px;
  }

  #leaderboard_scores_title {
    margin-bottom: 2px;

    font-size: 15px;
  }
  #nicknames {
    margin-top: 5px;
  }
  
  .nickname {
    margin-bottom: 2px;

    font-size: 10px;
  }

  #scores_id {
    margin-top: 5px;
  }

  .scores_class {
    margin-bottom: 2px;

    font-size: 10px;
  }

  #leaderboard_button_exit {
    margin-bottom: 5px;
    width: 50px;
    height: 10px;

    font-size: 10px;
  }
}