#main_menu {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  max-width: 500px;

  background-color: #69D949;
}

#logo {
  font-size: 72px;
  font-family: "Undertale-Battle-Font";
  text-align: center;
}

#navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#play_game {
  margin: 10px;
  padding: 5px;
  border: solid 2px #B8FE4F;
  width: 250px;

  cursor: pointer;

  font-size: 32px;
  font-family: "Undertale-Battle-Font";
  text-align: center;
}

#play_game:active {
  background-color: #54aa3a;
}

#leader_board {
  margin: 10px;
  padding: 5px;
  border: solid 2px #B8FE4F;
  width: 250px;

  cursor: pointer;

  font-size: 32px;
  font-family: "Undertale-Battle-Font";
  text-align: center;
}

#leader_board:active {
  background-color: #54aa3a;
}

#settings {
  margin: 10px;
  padding: 5px;
  border: solid 2px #B8FE4F;
  width: 250px;

  cursor: pointer;

  font-size: 32px;
  font-family: "Undertale-Battle-Font";
  text-align: center;
}

#settings:active {
  background-color: #54aa3a;
}

/* Media quaries */
@media (max-width: 480px) {
  #main_menu {
    max-width: 250px;
  }

  #logo {
    font-size: 36px;
  }

  #play_game {
    width: 180px;
    font-size: 25px;
  }

  #leader_board {
    width: 180px;
    font-size: 25px;
  }

  #settings {
    width: 180px;
    font-size: 25px;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  #logo {
    font-size: 30px;
  }

  #play_game {
    width: 200px;
    font-size: 20px;
  }

  #leader_board {
    width: 200px;
    font-size: 20px;
  }

  #settings {
    width: 200px;
    font-size: 20px;
  }
}